#Landing {

    img {
        width: 200px;
    }

    .pulsatingCircle {
        width: 30px;
        height: 30px;
        display: block;
        position: absolute;
        top: 25%;
        right: 0%;
        margin: 10% auto;
        transform: scale(5, 5);
        -webkit-transform: scale(5, 5);
        cursor: pointer;

        .firstCircle,
        .secondCircle,
        .thirdCircle {
            top: 50%;
            left: 50%;
            display: block;
            border-radius: 50%;
            position: absolute;
            vertical-align: middle;
        }

        .firstCircle {
            width: 20px;
            height: 20px;
            margin: -5px 0 0 -5px;
            background-color: #2161d8;

            .text {
                color: white;
                font-size: 4px;
                font-family: $Landing;
                position: absolute;
                top: 42%;
                left: 0%;
                transform: rotate(-90deg);
            }
        }

        .secondCircle {
            width: 28px;
            height: 28px;
            margin: -9px 0 0 -9px;
            border: 1px solid white;
            animation: 2000ms pulseIn ease-in-out infinite;
            -webkit-animation: 2000ms pulseIn ease-in-out infinite;
        }

        @keyframes pulseIn {
            0% {
                opacity: 0;
                transform: scale(0.2, 0.2);
            }

            50% {
                opacity: 1;
                transform: scale(1, 1);
            }

            100% {
                opacity: 0;
                transform: scale(0.2, 0.2);
            }
        }

        @-webkit-keyframes pulseIn {
            0% {
                opacity: 0;
                -webkit-transform: scale(0.2, 0.2);
            }

            50% {
                opacity: 1;
                -webkit-transform: scale(1, 1);
            }

            100% {
                opacity: 0;
                -webkit-transform: scale(0.2, 0.2);
            }
        }

        .thirdCircle {
            width: 36px;
            height: 36px;
            border: 1px solid #2161d8;
            margin: -13px 0 0 -13px;
            animation: 2000ms pulseIn 500ms ease-in-out infinite;
            -webkit-animation: 2000ms pulseIn 500ms ease-in-out infinite
        }
    }
}